.button {
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $primary;
    color: $primaryTextColor;
    min-width: 140px;
    padding: 14px 20px;
    &__arrow {
        margin-left: 14px;
    }
}

.button--large {
    min-width: 190px;
    padding: 19px 30px;
}
