.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $primary;
    color: #ffffff;
    min-width: 100px;
    padding: 11px 15px;
    font-size: 13px;
    letter-spacing: 0.6px;
    border-radius: 6px;
    &__arrow {
        margin-left: 14px;
    }
}

.button--large {
    font-weight: 600;
    min-width: 190px;
    padding: 19px 30px;
    font-size: 16px;
    letter-spacing: 1px;
}
