// Colors
$primaryTextColor: #3c3c3b;

$primary: #3080e8;
$primary: #364DE9;
$primary: #E33441;

//Font
$primaryFont: 'Work Sans', sans-serif;

//Other

$boxShadow: 0 3px 10px 1px rgba(0, 0, 0, 0.05);
$borderRadius: 6px;
